.mealsbymatchclass{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    background-color: aqua;
    border: 2px solid black;
    width: 200px;
    height: 300px;
    overflow: auto;
}

.mealFormSpecific {
    position: relative;
    margin: 25px 5%;
    width: 90%;
}