.generic{
    margin: 0;
    padding: 0;
}

.mySideBarClass{
    position: fixed;
    height: 100vh;
    width: 3vw;
    min-width: 50px;
    left: 0;
    top: 0;
    background-color: darkgray;
}

.SDGeneric{
    width: 100%;
    height: 50px;
    max-height: 80px;
    position: relative;
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: chocolate;
    z-index: 2;
}

.SDGeneric :hover{
    background-color: bisque;
}